@model IEnumerable<TheSupperLog.Models.Meal.MealListItem>

@{
    ViewData["Title"] = "Index";

}

<p>
    <a asp-action="Create", button type="button" class="btn btn-success btn-lg">Log a meal</a>
</p>

<hr />

<form asp-controller="Meal" asp-action="Index">
    <p>
        Search for a meal: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<h5>
    <table class="table table-striped">
        <thead>
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.OwnerId)
                    </th>*@
                <th>
                    <h3>@Html.DisplayNameFor(model => model.Name)</h3>
                </th>
                <th>
                   <h3>@Html.DisplayNameFor(model => model.Rating)</h3>
                </th>
                <th>
                    <h3>Date Added</h3>
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.DateModified)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.OwnerId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.DateModified)
                        </td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" button type="button" class="btn btn-primary">Edit</a>


                        @*CURRENTLY UNNECESSARY WITHOUT ADDITIONAL FEATURES LIKE NOTES / LINKING TO RECIPE
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@


                        <a asp-action="Delete" asp-route-id="@item.Id" button type="button" class="btn btn-light">Delete</a>
                    </td>
                </tr>
             }
        </tbody>
    </table>
</h5>
