@model TheSupperLog.Models.Recipe.RecipeDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-md-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-md-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Yield)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Yield)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrepTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrepTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CookTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CookTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Instructions)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Instructions)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateAdded)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateAdded)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateModified)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateModified)
            </dd>
        </dl>
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" button type="button" class="btn btn-primary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
